<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Title</title>
  <a href="http://127.0.0.1:5000/home">Home</a>
    <br>
</head>
<body>
  <p>{{classified}}</p>
  <form method="POST" action="/canad_sengine">
    <input type="text" name="sengine_question" placeholder="Enter browser command">
    <button type="submit">Submit</button>
  </form>

  <p>{{wiki_summary}}</p>
  <form method="POST" action="/canad_sengine">
    <input type="text" name="wiki_question" placeholder="Enter Wiki command">
    <button type="submit">Submit</button>
  </form>

  {% if news_headlines %}
    {% for headline in news_headlines.split('\n\n') %}
        <p>{{ headline }}</p>
    {% endfor %}
  {% endif %}
  <form method="POST" action="/canad_sengine">
    <input type="text" name="news_question" placeholder="Search News">
    <button type="submit">Submit</button>
  </form>

</body>
</html>