<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="Stylesheet" href="../static/style.css">
</head>
<body>
<h1>Yugoslav Wars</h1>
<p>
    The Yugoslav Wars are a series of wars fought in the Balkans throughout the 1990s. The wars were fought between multiple break-off states and
the already existing Communist Yugoslavia. It started off with Slovenia in 1991 and ended with Kosovo in 1998-1999.
Finally, the now smaller and weaker FR Yugoslavia seperated into Serbia and Montenegro in 2006.
    <img src="../yugoslav%20copy.jpg" alt="yugoslav pic" width="600 height=600">
</p>

</body>
</html>